@font-face {
    font-family: 'peyda';
    src: url('../fonts/peyda/peyda/peyda-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: 'peyda';
    src: url('../fonts/peyda/peyda/peyda-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: medium;
}
@font-face {
    font-family: 'peyda';
    src: url('../fonts/peyda/peyda/peyda-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'peyda';
    src: url('../fonts/peyda/peyda/peyda-semi-bold.ttf') format('truetype'),
         url('../fonts/peyda/peyda/peyda-semiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: bold;
}

p{ 
    text-align: center;
    font-family: 'peyda';    
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    line-height: 40px;
    width: 448px;
    height: 40px;
    position: absolute;
    top: 446px;
    left:203px ;
    letter-spacing: 0;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

}
.main{
    display: flex;
    width: 1920px;
    height: 1084px;
    background-color: white;
    box-sizing: border-box;
    

}

.manimg{

    width: 1084px;
    height: 1084px;
    top: -4px;
    
}
.container{
    direction: rtl;
    position: relative;
    
}

*{
margin: 0;
box-sizing: border-box;
padding: 0;

}
.hopeimg{
    width: 303px;   
    height: 242px;
    position: absolute;
    top: 182px;
    left: 258px; 
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 354px;
    height: 304px;
    position: absolute;
    top: 522px;
    left: 239px;
    gap: 32px;
    
   }
 
.phone-lable{
    font-family: 'peyda';
    font-weight: 400;
    font-style: normal;
    color: #190c33;
    font-size: 16px;
    width: 354px;
    height: 32px;
    padding-right: 8px;
    padding-left: 8px;
    gap:10px;
    
}
.pass-lable{
    font-family: 'peyda';
    font-weight: 400;
    font-style: normal;
    color: #190c33;
    font-size: 16px;
    width: 354px;
    height: 32px;
    padding-right: 8px;
    padding-left: 8px;
    gap:10px;
    
}
#phone{
    font-family: 'peyda';
    font-weight: 400;
    font-style: normal;
    color: #A5A5A5;
    font-size: 13px;
    width: 354px;
    height: 48px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px;
    gap: 10px;
}
#password{
    font-family: 'peyda';
    font-weight: 400;
    font-style: normal;
    color: #A5A5A5;
    font-size: 13px;
    width: 354px;
    height: 48px;
    padding-bottom: 15px;
    padding-top: 15px;
    border-radius: 12px;
    gap: 10px;
}
#btn{
    font-family: 'peyda';
    font-weight: 700;
    font-style: bold;
    font-size: 16px;
    width: 354px;
    height: 48px;
    border-radius: 12px;
    padding: 8px 16px;
    gap: 12px;
    background-color: #234C6A;
    color: white;
}

